.header-title {
  font-family: 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.led-button {
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

ion-icon {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .button-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}